@model Models.Veiculo

@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<h1>Detalhes do Veículo</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @(Model.Cliente != null ? Model.Cliente.Nome : "-")
        </dd>
    </dl>
</div>
<div class="mt-3">
    <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
    </div>
</div>
